body {
  font: 'Hoefler Text', serif;
  background-color:pink;
}

header {
  font-size: 36px;
}

#prompt {
  display: block;
  width: 50%;
  font-size: 18px;
  padding: 9px;
  float: right;
}

.action {
  font-style: italic;
  list-style: none;
}

.quote {
  font-weight: bold;
  list-style: none;
}